{% extends "common/base.html" %}

{% block app_content %}
    <h1>Upravit návštěvu</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group row">
            {{ form.shop_id.label(class="col-sm-2") }}
            {{ form.shop_id(class="col-sm-6") }}
            {% for error in form.shop_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.time.label(class="col-sm-2") }}
            {{ form.time(class="col-sm-6", placeholder="YYYY-MM-DD HH:MM") }}
            {% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.plan.label(class="col-sm-2") }}
            {{ form.plan(class="col-sm-6") }}
            {% for error in form.plan.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% if include_result %}
            <div class="form-group row">
                {{ form.result.label(class="col-sm-2") }}<br>
                {{ form.result(class="col-sm-6") }}<br>
                {% for error in form.result.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group row">
                {{ form.was_successful.label(class="col-sm-2") }}<br>
                {{ form.was_successful }}<br>
                {% for error in form.was_successful.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

        {% endif %}

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}