{% extends "common/base.html" %}
{% set active_page = "visits" %}

{% block app_content %}
    {% include 'common/datatable.html' %}

    {% set base_url = "visits?" %}

    {% if shop_id %}
        {% set base_url = base_url + "shop_id=" + shop_id + "&" %}
    {% endif %}

    <h2>Návštěvy {% if shop_name %}obchodu {{ shop_name }}{% else %}obchodů{% endif %}
        {% if user_id %}
            uživatele {{ user_name }}
            <a href="{{ base_url }}show_all=1"><small>(zobrazit návštěvy všech uživatelů)</small></a>
        {% else %}
            všech uživatelů
            <a href="{{ base_url }}"><small>(zobrazit jen moje návštěvy)</small></a>
        {% endif %}

    </h2>

    <h3>Naplánované</h3>

    <table id="table-next" class="display">
        <thead>
            <tr>
               <th>Čas</th>
                <th>Obchod</th>
                <th>Obsluha</th>
                <th>Plán</th>
                <th></th>
            </tr>
        </thead>
    </table>

    {% if editable %}
        <br>
        <a href="visits/add">+ Přidat návštěvu</a>
        <br>
    {% endif %}

    <br><br><br>

    <h3>Absolvované</h3>

    <table id="table-past" class="display">
        <thead>
            <tr>
                <th>Čas</th>
                <th>Obchod</th>
                <th>Obsluha</th>
                <th>Plán</th>
                <th>Hodnocení</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <style>
        .content-container {
            width: 100%;
        }
    </style>

    <script>
    $(document).ready(function() {
        $.noConflict();

        past_ajax_url = "past_visits_data?"
        next_ajax_url = "next_visits_data?"

        {% if shop_id %}
            past_ajax_url += "shop_id={{shop_id}}&"
            next_ajax_url += "shop_id={{shop_id}}&"
        {% endif %}

        {% if user_id %}
            past_ajax_url += "user_id={{user_id}}&"
            next_ajax_url += "user_id={{user_id}}&"
        {% endif %}

        var past_opts = {
            ajax: past_ajax_url,
            ordering: false,
            columns: [
                {
                    data: "time",
                    className: "pre-line",
                    render: function ( data, type, full, meta ) {
                        let date = new Date(data);

                        if(type === 'display')
                        {
                            return date.toLocaleString("cs-CZ");
                        }
                        else
                        {
                            return date.toISOString();
                        }
                    }



                },
                {
                    data: "shop.name",
                    className: "pre-line",
                    render: function ( data, type, full, meta ) {
                        shop_string = "<b>" + data + "</b>"
                        {% if editable %}
                        shop_string += `&nbsp<a href="shops/edit/${full.shop.id}"><span class="glyphicon glyphicon-edit"></span></a>`;
                        {% endif %}
                        if (full.shop.address) {
                            shop_string += `\n(${full.shop.address})`;
                        }
                        return shop_string;
                    }
                },
                {
                    data: "shop.managing_user.username"
                },
                {
                    data: "plan",
                    className: "pre-line"
                },
                {
                    data: "result",
                    className: "pre-line",
                },
                {
                    sortable: false,
                    render: function ( data, type, full, meta ) {
                        return {% if editable %} generate_edit_buttons("visits", full.id); {% else %} null {% endif %}
                    }
                }
            ],
            orderClasses: false,
            createdRow: function( row, data, dataIndex ){
                // Color the row accordingly
                if (!data.was_successful) { $(row).addClass('shop-visit-unsuccessful'); }
            }
        };

        var next_opts = {
            ajax: next_ajax_url,
            ordering: false,
            columns: [
            {
                data: "time",
                render: function ( data, type, full, meta ) {
                    return new Date(data).toLocaleString("cs-CZ");
                }
            },
            {
                data: "shop.name",
                className: "pre-line",
                render: function ( data, type, full, meta ) {
                    shop_string = "<b>" + data + "</b>"
                    {% if editable %}
                    shop_string += `&nbsp<a href="shops/edit/${full.shop.id}"><span class="glyphicon glyphicon-edit"></span></a>`;
                    {% endif %}
                    if (full.shop.address) {
                        shop_string += `\n(${full.shop.address})`;
                    }
                    return shop_string;
                }
            },
            {
                data: "shop.managing_user.username"
            },
            {
                data: "plan",
                className: "pre-line"
            },
            {
                sortable: false,
                render: function ( data, type, full, meta ) {
                    return {% if editable %} generate_edit_buttons("visits", full.id); {% else %} null {% endif %}
                }
            }
            ],
            orderClasses: false
        };

        {% if shop_id %}
            past_opts["searching"] = next_opts["searching"] = false
            past_opts["searching"] = next_opts["searching"] = false
        {% endif %}

        $('#table-past').DataTable(merge_config_with_default(past_opts));
        $('#table-next').DataTable(merge_config_with_default(next_opts));
    });
    </script>


    <style>
        .shop-visit-unsuccessful {
            background-color: #d8db39 !important;
        }
    </style>

{% endblock %}
