{% extends "common/base.html" %}
{% set active_page = "shops" %}

{% block app_content %}
    {% include 'common/datatable.html' %}

    <link rel="stylesheet" type="text/css" href="static/select2.min.css">
    <script src="static/select2.min.js"></script>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 text-left">
    {% if editable %}
        <a href="shops/add">+ Přidat obchod</a>
    {% endif %}
        </div>
        <div class="container-fluid text-center col-sm-6 panel panel-default">
            <h4 class="text-center">Filtry</h4>
            <br>
            <div class="row text-center">
                <div class="text-center col-sm-4">
                    <div id="user_filter_div" class="form-group">
                        <label for="user_filter">Obsluha</label><br>
                        <select id="user_filter" class="select2" class="form-control" style="width: 100%"></select>
                    </div>
                </div>
                <div class="text-center col-sm-4">
                    <div id="property_filter_div" class="form-group">
                        <label for="property_filter">Vybavení</label><br>
                        <select id="property_filter" class="select2" class="form-control" style="width: 100%"></select>
                    </div>
                </div>
                <div class="text-center col-sm-4">
                    <div id="sortiment_filter_div" class="form-group">
                        <label for="sortiment_filter">Sortiment</label><br>
                        <select id="sortiment_filter" class="select2" class="form-control" style="width: 100%"></select>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="checkbox">
                    <label>
                      <input type="checkbox" id="activity_filter" checked> Zahrnout neaktivní obchody
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-right">
            <a href="#" id="email-export-link">
                <span class="glyphicon glyphicon-export"></span>
                Exportovat e-maily
            </a>
        </div>
      </div>
    </div>

    <table id="datatable" class="display">
        <thead>
            <tr>
                <th>A</th>
                <th>U</th>
                <th>Název (VO)</th>
                <th>Adresa</th>
                <th>Kontakt</th>
                <th>Hodiny</th>
                <th>Poslední návštěva</th>
                <th>Vybavení</th>
                <th>Sortiment</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <script>
    $(document).ready(function() {
        $.noConflict();

        var opts = {
            ajax: "shops_data",
            order: [[2, "asc"]],
            columns: [
            {
                data: "is_active",
                render: function ( data, type, full, meta ) {
                    if(type === 'display')
                    {
                        return data ? `<span class="glyphicon glyphicon-ok"></span>` : `<span class="glyphicon glyphicon-off"></span>`;
                    } else {
                        return data ? "true" : "false";
                    }
                }
            },
            {
                data: "managing_user.username",
                visible: false
            },
            {
                data: "name",
                className: "pre-line",
                render: function ( data, type, full, meta ) {
                    return "<b>" + data + "</b>" + (full.source_shop ? ("\n(" + full.source_shop + ")") : "");
                }
            },
            {
                data: "address",
                className: "pre-line",
            },
            {
                data: "number",
                className: "pre-line"
            },
            {
                data: "hours",
                className: "pre-line",
            },
            {
                "data": "last_visit_time",
                render: function ( data, type, full, meta ) {
                    let date = data ? new Date(data) : null;

                    if(type === 'display')
                    {
                        return date ? `<a href=/visits?shop_id=${full.id}>${date.toLocaleString("cs-CZ")}</a>` : "Nenavštíveno";
                    }
                    else
                    {
                        return date ? date.toISOString() : null
                    }
                }
            },
            {
                data: "properties",
                className: "pre-line",
                render: function ( data, type, full, meta ) {
                    if(type === 'filter')
                    {
                        return "^B^" + data.map(i => i.trim()).join("^E^^B^") + "^E^";
                    } else {
                        return data.map(i => `<span>• ${i}</span>`).join('\n');
                    }
                }

            },
            {
                data: "sortiment",
                className: "nowrap",
                render: function ( data, type, full, meta ) {
                    if(type === 'filter')
                    {
                        return "^B^" + data.map(i => i.trim()).join("^E^^B^") + "^E^";
                    } else {
                        return data.map(i => `<div>• ${i}</div>`).join('\n');
                    }
                }
            },
            {
                sortable: false,
                render: function ( data, type, full, meta ) {
                    return {% if editable %} generate_edit_buttons("shops", full.id); {% else %} null {% endif %}
                }
            }],
            orderClasses: false,
            createdRow: function( row, data, dataIndex ){
                // Color the row accordingly
                if (!data.is_active) {
                    $(row).addClass('shop-inactive');
                } else if (!data.last_visit_time){
                    $(row).addClass('shop-not-visited');
                } else if (!data.last_visit_success) {
                    $(row).addClass('shop-visit-unsuccessful');
                } else {
                    $(row).addClass('shop-visited');
                }
            },

            initComplete: function (settings, json_data) {
                count = 0;
                this.api().columns().every( function () {

                    var column = this
                    var title = this.header();

                    if ($(title).html() == "Sortiment")
                    {
                        filter_element = $("#sortiment_filter")
                        filter_element.on( 'change', function () {
                            input = $(this).select2('data').sort()

                            var data = $.map( input, function( value, key ) {
                                return value.text ? `\\^B\\^${$.fn.dataTable.util.escapeRegex(value.text)}\\^E\\^` : null;
                            });

                            //if no data selected use ""
                            if (data.length === 0) { data = [""]; }
                            var search_regex = data.join('.*');

                            //search for the option(s) selected
                            column.search(search_regex ? search_regex : "", true, false).draw();
                        });

                        json_data.shop_items.sort().forEach(s => filter_element.append(`<option value=${s}">${s}</option>`));

                      //use column title as selector and placeholder
                      $('#sortiment_filter').select2({
                        multiple: true,
                        closeOnSelect: false
                      });

                      //initially clear select otherwise first option is selected
                      $('.select2').val(null).trigger('change');
                    }
                    else if ($(title).html() == "Vybavení")
                    {
                        filter_element = $("#property_filter")
                        filter_element.on( 'change', function () {
                            input = $(this).select2('data').sort()

                            var data = $.map( input, function( value, key ) {
                                return value.text ? `\\^B\\^${$.fn.dataTable.util.escapeRegex(value.text)}\\^E\\^` : null;
                            });

                            //if no data selected use ""
                            if (data.length === 0) { data = [""]; }
                            var search_regex = data.join('.*');

                            //search for the option(s) selected
                            column.search(search_regex ? search_regex : "", true, false).draw();
                        });

                        json_data.shop_properties.sort().forEach(s => filter_element.append(`<option value=${s}">${s}</option>`));

                      //use column title as selector and placeholder
                      $('#property_filter').select2({
                        multiple: true,
                        closeOnSelect: false,
                        width: "resolve"
                      });

                      //initially clear select otherwise first option is selected
                      $('.select2').val(null).trigger('change');
                    }
                    else if ($(title).html() == "U")
                    {
                        filter_element = $("#user_filter")
                        filter_element.on( 'change', function () {
                            var data = $.map( $(this).select2('data'), function( value, key ) {
                                return value.text ? `${$.fn.dataTable.util.escapeRegex(value.text)}` : null;
                            });

                            //if no data selected use ""
                            if (data.length === 0) { data = [""]; }
                            var search_regex = data.join('|');

                            //search for the option(s) selected
                            column.search(search_regex ? search_regex : "", true, false).draw();
                        });

                        json_data.managing_user_names.sort().forEach(s => filter_element.append(`<option value=${s}">${s}</option>`));

                      //use column title as selector and placeholder
                      $("#user_filter").select2({
                        multiple: true,
                        closeOnSelect: false
                      });

                      //initially clear select otherwise first option is selected
                      $('.select2').val(null).trigger('change');
                    }
                    else if ($(title).html() == "A")
                    {
                        title = "shop_activity_picker"

                        var column = this;
                        $("#activity_filter").on( 'change', function () {
                            column.search(this.checked ? "" : "true").draw();
                        });
                    }
                });
            }

        };

        $('#datatable').DataTable(merge_config_with_default(opts));

        $("#email-export-link").click(function() {
            var table = $('#datatable').DataTable();
            contact_string = table.columns(4, { 'search': 'applied' }).data().eq(0).join(' ')
            emails = Array.from(
                new Set(contact_string.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)/gi))
            );

            download(emails.sort().join("\n"), "maily.txt", "text/plain")
        })
    } );


    function download(data, filename, type) {
        var file = new Blob([data], {type: type});
        if (window.navigator.msSaveOrOpenBlob) // IE10+
            window.navigator.msSaveOrOpenBlob(file, filename);
        else { // Others
            var a = document.createElement("a"),
                    url = URL.createObjectURL(file);
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 0);
        }
    }

    </script>

    <style>
        .content-container {
            width: 100%;
        }

        .filter-text-div {
        }

    </style>

{% endblock %}
