{% extends "common/base.html" %}

{% block app_content %}
    <h1>Upravit obchod {{ form.name.data }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group row">
            {{ form.name.label(class="col-sm-2") }}
            {{ form.name(class="col-sm-6") }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.is_active.label(class="col-sm-2") }}
            {{ form.is_active }}
            {% for error in form.is_active.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.address.label(class="col-sm-2") }}
            {{ form.address(class="col-sm-6") }}
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.number.label(class="col-sm-2") }}
            {{ form.number(class="col-sm-6") }}
            {% for error in form.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.hours.label(class="col-sm-2") }}
            {{ form.hours(class="col-sm-6") }}
            {% for error in form.hours.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.source_shop.label(class="col-sm-2") }}
            {{ form.source_shop(class="col-sm-6") }}
            {% for error in form.source_shop.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.managing_user.label(class="col-sm-2") }}
            {{ form.managing_user(class="col-sm-6") }}
            {% for error in form.managing_user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.properties.label(class="col-sm-2") }}
            {{ form.properties(class="col-sm-6") }}
            {% for error in form.properties.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.sortiment.label(class="col-sm-2") }}
            {{ form.sortiment(class="col-sm-6") }}
            {% for error in form.sortiment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>


    <script>
    $(document).ready(function() {
        $('ul#sortiment > li > input').each(function(){
            var val = $(this).val();

            if ({{ sortiment }}.includes(Number(val))) {
                $(this).prop('checked', true)
            }
        })
        $('ul#properties > li > input').each(function(){
            var val = $(this).val();

            if ({{ properties }}.includes(Number(val))) {
                $(this).prop('checked', true)
            }
        })
    } );
    </script>
{% endblock %}