{% extends 'bootstrap/base.html' %}

{% set navigation_bar = [
    ('/visits', 'visits', 'Itinerář'),
    ('/shops', 'shops', 'Obchody'),
    ('/shop_items', 'shop_items', 'Sortiment'),
    ('/shop_properties', 'shop_properties', 'Vybavení')
] -%}


{% block title %}
    {% if title %}Posel dobrých zpráv: {{ title }}{% else %}Posel dobrých zpráv{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Posel dobrých zpráv</span>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for href, id, caption in navigation_bar %}
                        <li {% if id == active_page %}class="active"{% endif %}>
                            <a href="{{ href|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_anonymous %}
                        <li><a href="{{ url_for('logout') }}">Odhlásit se</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</nav>
{% endblock %}

{% block content %}
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

    <div class="container content-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>

    <script>
        function delete_item(resource, id){
            var result = confirm("Opravdu chcete smazat tuto položku?");
            if (result) {
                $.ajax({
                    type: "DELETE",
                    url: resource + '/delete/' + id,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        alert("Smazání položky se nepodařilo.\nDůvod: ", data);
                    }
                });
            }
        }

        function edit_item(resource, id, data){
            $.ajax({
                type: "PUT",
                url: resource + '/edit/' + id,
                data: JSON.encode(data),
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    alert("Smazání položky se nepodařilo.\nDůvod: ", data);
                }
            });
        }

        function generate_edit_buttons(resource, id, data) {
            return `<a href="${resource}/edit/${id}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                    <a href="javascript:delete_item('${resource}', ${id})"><span class="glyphicon glyphicon-remove"></span></a>`
        }
    </script>

    <style>
        .pre-line {
            white-space: pre-line;
        }
        .nowrap {
            white-space: nowrap;
        }
        .shop-visited {
            background-color: #c0e2c8 !important;
        }

        .shop-not-visited {
            background-color: #e2c5c9 !important;
        }

        .shop-inactive {
            background-color: #e0e0e0 !important;
            color: #8e8e8e;
        }

        .shop-visit-unsuccessful {
            background-color: #d8db39 !important;
        }

    </style>
{% endblock %}




