<script type="text/javascript" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.css') }}">

<script>
var default_datatable_opts = {
    info: true,
    searching: true,
    paging: false,
    ordering: true,
    info: true,
    language: {
        "sEmptyTable":     "Tabulka neobsahuje žádná data",
        "sInfo":           "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
        "sInfoEmpty":      "Zobrazuji 0 až 0 z 0 záznamů",
        "sInfoFiltered":   "(filtrováno z celkem _MAX_ záznamů)",
        "sInfoPostFix":    "",
        "sInfoThousands":  " ",
        "sLengthMenu":     "Zobraz záznamů _MENU_",
        "sLoadingRecords": "Načítám...",
        "sProcessing":     "Provádím...",
        "sSearch":         "Hledat fulltextově:",
        "sZeroRecords":    "Žádné záznamy nebyly nalezeny",
        "oPaginate": {
            "sFirst":    "První",
            "sLast":     "Poslední",
            "sNext":     "Další",
            "sPrevious": "Předchozí"
        },
        "oAria": {
            "sSortAscending":  ": aktivujte pro řazení sloupce vzestupně",
            "sSortDescending": ": aktivujte pro řazení sloupce sestupně"
        }
    },
    dom: "<'row'<'col-sm-12 col-md-6'li><'col-sm-12 col-md-6'fp>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>"
}

var merge_config_with_default = function(opts) {
    return Object.assign({}, default_datatable_opts, opts)
}

</script>