{% extends "common/base.html" %}
{% set active_page = "shop_properties" %}

{% block app_content %}
    {% include 'common/datatable.html' %}

    {% if editable %}
        <a href="shop_properties/add">+ Přidat sortiment</a>
    {% endif %}

    <table id="property_table" class="display">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>

    <script>
    $(document).ready(function() {
        $.noConflict();

        var opts = {
            ajax: "/api/shop_properties",
            searching: false,
            ordering: false,
            paging: false,
            info: false,
            columns: [
                { data: "name" },
                {
                    sortable: false,
                    render: function ( data, type, full, meta ) {
                        return {% if editable %} generate_edit_buttons("shop_properties", full.id); {% else %} null {% endif %};
                    }
                }
            ],
            orderClasses: false
        };

        $('#property_table').DataTable(merge_config_with_default(opts));
    });
    </script>
{% endblock %}